<html>
  <head>
    <title>Coconut Countdown!</title>
    <link href="http://fonts.googleapis.com/css?family=Oleo+Script|Ubuntu:300" rel="stylesheet" type="text/css" data-noprefix="">
    <link rel="stylesheet" href="css/flipclock.css">
    <link rel="stylesheet" href="css/coconutcountdown.css">
  </head>
  <body>
    <h1 class="header">Where's my Coconut?</h1>
    <p class="subtext">Coconut will be back in...</p>
    <div class="clock"></div>
  </body>
  <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
  <script src="js/flipclock.min.js"></script>
  <script src="js/coconutcountdown.js"></script>
</html>
